services:
  db:
    image: mongo
    container_name: slm-db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: slm-backend
    ports:
      - "5000:5000"
    environment:
      - MONGODB_URI=mongodb://db:27017/secondlife_market
      - PORT=5000
      - JWT_SECRET=supersecret
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    container_name: slm-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
